@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto&display=swap');

/* THE BODY OF THE WHOLE PAGE! */

/* The element selectors. */
body {
    background-color: white;
    font-size: 22px;
    margin: 0;
    padding: 0;
}


/* The id selectors. */
#content {
    max-width: 1600px;
    margin: 0 auto;
}




/* THE TOP PART OF THE PAGE! */

/* The element selectors. */
header {
    background-color: #03045e;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}


/* The class selectors. */
.logo {
    width: 80px;
}


/* The id selectors. */
#logo_link {
    padding-top: 5px;
}


/* The pseudo classes. */
nav a:hover {
    background-color: #00b4d8;
    color: white;
}




/* BETWEEN THE TOP AND MIDDLE PART OF THE PAGE! */

/* The element selectors. */
h4 {
    color: black;
}


/* The class selectors. */
.home-title {
    color: black;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.book, .join {
    background-color: #03045e;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.button-box {
    text-align: center;
}


/* The id selectors. */
#hero-img {
    width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}


/* The Pseudo classes. */
.book:hover, .join:hover {
    background-color: #00b4d8;
    color: white;
}




/* THE MIDDLE PART OF THE PAGE! */

/* The element selectors. */
main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

h2 {
    margin: 0;
}


/* The class selectors. */
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #03045e;
}

.msg {
    background-color: #396E94;
    line-height: 1.5em;
    padding: 35px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.msg h2 {
    color: white;
    font-family: Roboto, Helvetica, sans-serif;
}

.msg p {
    color: white;
    font-family: 'Open Sans', Helvetica, sans-serif;
    padding-bottom: 15px;
}


/* The id selectors. */
#background {
    height: 725px;
    background-color: #00b4d8;
}




/* THE BOTTOM PART OF THE PAGE! */

/* The element selectors. */
footer {
    background-color: #03045e;
    color: white;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
}


/* The Pseudo classes. */
footer p a:hover {
    text-decoration: underline;
}

footer a:hover {
    color: grey;
}