/* Element Selectors */
h1, nav, p {
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

a {
    background-color: grey;
    color: lightblue;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}


/* Pseudo Selectors */
a:hover {
    background-color: lightblue;
    color: gray;
}