<!DOCTYPE html>

<html lang='en-US'>

    <head>
        <!-- The Meta Elements. -->
        <meta charset='UTF-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width initial-scale=1.0'>
        <link type='text/css' rel='stylesheet' href='styles/template.css'>
        <title>Template</title>
    </head>

    <body>
        

        <!-- Top Part of the Page. -->
        <header>

            <a href='index.html'>
                <img src='images/[Company Logo image]' alt='[Company] logo'>
            </a>

            <nav>
                <a href='#'>Home</a>
                <a href='#'>Page 2</a>
                <a href='#'>About Us</a>
            </nav>

        </header>

        
        <!-- Between the Top and Middle Part of the Page. -->
        <img id=hero src='[hero image]' alt='#'>

        <!-- Middle part of the page. -->
        <main></main>


        <!-- Between the Middle and Bottom Part of the Page. -->
        <img id='support' src='#' alt=''>

        
        <!-- The Bottom Part of the Page. -->
        <footer>

            <p>[Company name] &copy; [Year] [Name]</p>
            <p>
                <a href='#'>Contact Us</a>
            </p>

            <a class='social' href='https://www.facebook.com'>
                <img src='images/[Facebook Logo Image]' alt='Facebook Logo'>
            </a>

            <a class='social' href='https://www.twitter.com'>
                <img src='images/[Twitter Logo Image]' alt='Twitter Logo'>
            </a>

            <a class='social' href='https://www.instagram.com'>
                <img src='images/[Instagram Logo Image]' alt='Instagram Logo'>
            </a>
            
        </footer>

    </body>

</html>