/* BODY OF THE WHOLE PAGE! */

/* Element Selectors */
body {
    border: 1px solid black;
    padding: 5px;
}


/* Class Selectors */


/* Id Selectors */


/* Pseudo Selectors */




/* TOP PART OF THE PAGE! */

/* Element Selectors */
header {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

a img {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

nav {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

nav a {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}


/* Class Selectors */


/* Id Selectors */


/* Pseudo Selectors */




/* BETWEEN THE TOP AND MIDDLE PART OF THE PAGE! */

/* Element Selectors */
img {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}


/* Class Selectors */


/* Id Selectors */
#hero {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}


/* Pseudo Selectors */




/* MIDDLE PART OF THE PAGE! */

/* Element Selectors */
main {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}


/* Class Selectors */


/* Id Selectors */


/* Pseudo Selectors */




/* BETWEEN THE MIDDLE AND BOTTOM PART OF THE PAGE! */

/* Element Selectors */


/* Class Selectors */


/* Id Selectors */
#support {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}


/* Pseudo Selectors */




/* BOTTOM PART OF THE PAGE! */

/* Element Selectors */
footer {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

p {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

p a {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

/* Class Selectors */
.social {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}


/* Id Selectors */


/* Pseudo Selectors */